Radar-Service/src/main/resources/VehiculeService.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://SOAP.Web.immatriculationservice.example.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="VehiculeWS" targetNamespace="http://SOAP.Web.immatriculationservice.example.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://SOAP.Web.immatriculationservice.example.com/" elementFormDefault="unqualified" targetNamespace="http://SOAP.Web.immatriculationservice.example.com/" version="1.0">
            <xs:element name="findAll" type="tns:findAll"/>
            <xs:element name="findAllResponse" type="tns:findAllResponse"/>
            <xs:element name="findById" type="tns:findById"/>
            <xs:element name="findByIdResponse" type="tns:findByIdResponse"/>
            <xs:element name="findByMatricule" type="tns:findByMatricule"/>
            <xs:element name="findByMatriculeResponse" type="tns:findByMatriculeResponse"/>
            <xs:element name="save" type="tns:save"/>
            <xs:element name="saveResponse" type="tns:saveResponse"/>
            <xs:element name="update" type="tns:update"/>
            <xs:element name="updateResponse" type="tns:updateResponse"/>
            <xs:complexType name="findAll">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="findAllResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:vehiculeResponseDTO"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="vehiculeResponseDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="adresse_Personne" type="xs:string"/>
                    <xs:element name="cv_Vehicule" type="xs:int"/>
                    <xs:element minOccurs="0" name="id_Personne" type="xs:long"/>
                    <xs:element minOccurs="0" name="id_Vehicule" type="xs:long"/>
                    <xs:element minOccurs="0" name="mail_Personne" type="xs:string"/>
                    <xs:element minOccurs="0" name="marque_Vehicule" type="xs:string"/>
                    <xs:element minOccurs="0" name="matricule_Vehicule" type="xs:string"/>
                    <xs:element minOccurs="0" name="modele_Vehicule" type="xs:string"/>
                    <xs:element minOccurs="0" name="naissance_Personne" type="xs:string"/>
                    <xs:element minOccurs="0" name="nom_Personne" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findById">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findByIdResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:vehiculeResponseDTO"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="save">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:vehiculeRequestDTO"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="vehiculeRequestDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="adresse_Personne" type="xs:string"/>
                    <xs:element name="cv_Vehicule" type="xs:int"/>
                    <xs:element minOccurs="0" name="id_Personne" type="xs:long"/>
                    <xs:element minOccurs="0" name="id_Vehicule" type="xs:long"/>
                    <xs:element minOccurs="0" name="mail_Personne" type="xs:string"/>
                    <xs:element minOccurs="0" name="marque_Vehicule" type="xs:string"/>
                    <xs:element minOccurs="0" name="matricule_Vehicule" type="xs:string"/>
                    <xs:element minOccurs="0" name="modele_Vehicule" type="xs:string"/>
                    <xs:element minOccurs="0" name="naissance_Personne" type="xs:string"/>
                    <xs:element minOccurs="0" name="nom_Personne" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="saveResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:vehiculeResponseDTO"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findByMatricule">
                <xs:sequence>
                    <xs:element minOccurs="0" name="matricule" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findByMatriculeResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:vehiculeResponseDTO"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="update">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:vehiculeRequestDTO"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="updateResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:vehiculeResponseDTO"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="findById">
        <wsdl:part element="tns:findById" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="findByIdResponse">
        <wsdl:part element="tns:findByIdResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="findAll">
        <wsdl:part element="tns:findAll" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="findByMatriculeResponse">
        <wsdl:part element="tns:findByMatriculeResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="saveResponse">
        <wsdl:part element="tns:saveResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateResponse">
        <wsdl:part element="tns:updateResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="save">
        <wsdl:part element="tns:save" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="findByMatricule">
        <wsdl:part element="tns:findByMatricule" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="update">
        <wsdl:part element="tns:update" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="findAllResponse">
        <wsdl:part element="tns:findAllResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="VehiculeSoapController">
        <wsdl:operation name="findAll">
            <wsdl:input message="tns:findAll" name="findAll"> </wsdl:input>
            <wsdl:output message="tns:findAllResponse" name="findAllResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findById">
            <wsdl:input message="tns:findById" name="findById"> </wsdl:input>
            <wsdl:output message="tns:findByIdResponse" name="findByIdResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="save">
            <wsdl:input message="tns:save" name="save"> </wsdl:input>
            <wsdl:output message="tns:saveResponse" name="saveResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findByMatricule">
            <wsdl:input message="tns:findByMatricule" name="findByMatricule"> </wsdl:input>
            <wsdl:output message="tns:findByMatriculeResponse" name="findByMatriculeResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="tns:update" name="update"> </wsdl:input>
            <wsdl:output message="tns:updateResponse" name="updateResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="VehiculeWSSoapBinding" type="tns:VehiculeSoapController">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="findAll">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findAll">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findAllResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findById">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findById">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findByIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="save">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="save">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="saveResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findByMatricule">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findByMatricule">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findByMatriculeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="update">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="VehiculeWS">
        <wsdl:port binding="tns:VehiculeWSSoapBinding" name="VehiculeSoapControllerPort">
            <soap:address location="http://localhost:8082/services/VehiculeController"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
